body {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    
}



.quiz-header {
    background-color: beige;
    align-items: center;

    }


h1 {


}

.quiz-container {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
}



.quiz-content {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;


}

.quiz-question {


}

.quiz-answer {

    
}









 
 
